doctype html
html(ng-app="ksp")
  head
    title= title
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src="/libs/jquery-ui/jquery-ui.min.js")
    script(src='/libs/angular/angular.min.js')
    script(src='/public/javascript/angular-locale_id.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='/libs/bootstrap/js/tab.js')
    script(src="/libs/moment/moment.js")
    script(src="/libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
    script(src="/libs/angular-input-masks/angular-input-masks-standalone.min.js")
    script(src="/libs/angular-loading-button/angular-loading-button.min.js")
    script(src="/libs/angular-notify/angular-notify.js")
    script(src="/libs/angular-ui-notification/dist/angular-ui-notification.min.js")
    script(src="/libs/ngMask/dist/ngMask.min.js")
    script(src='/public/javascript/ui/mask.js')
    script(src='/public/thirdparty/slider/slider.js')
    script(src="/public/javascript/angular-ui-bootstrap-modal.js")
    script(src="/public/javascript/pace.min.js")
    script(src='/public/javascript/app.js')
    script(src='/public/javascript/utility.js')
    script(src='/public/javascript/public.js')
    script(src='/public/javascript/controllers/sc0020.js')
    script(src='/public/javascript/controllers/sc0021.js')
    script(src='/public/javascript/controllers/sp0001.js')
    script(src='/public/javascript/controllers/sp0002.js')
    script(src='/public/javascript/controllers/sp0006.js')
    script(src='/public/javascript/controllers/sp0007.js')
    script(src='/public/javascript/controllers/sp0008.js')
    script(src='/public/javascript/controllers/sp0009.js')
    script(src='/public/javascript/controllers/sp0010.js')
    script(src='/public/javascript/controllers/sp0011.js')
    script(src='/public/javascript/controllers/sp0012.js')
    script(src='/public/javascript/controllers/sp0013.js')
    script(src='/public/javascript/controllers/sp0014.js')
    script(src='/public/javascript/controllers/sp0015.js')
    script(src='/public/javascript/controllers/sp0016.js')
    script(src='/public/javascript/controllers/sp0017.js')
    script(src='/public/javascript/controllers/sp0018.js')
    script(src='/public/javascript/controllers/sp0019.js')
    
    link(rel='stylesheet', href='/libs/jquery-ui/themes/base/jquery-ui.css')
    //link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootswatch/simplex/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/libs/angular-notify/angular-notify.css')
    link(rel='stylesheet', href='/libs/angular-ui-notification/dist/angular-ui-notification.min.css')
    link(rel='stylesheet', href='/public/stylesheets/pace.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/public/stylesheets/style-snipp.css')
  body
    div.container-fluid
      .navbar-wrapper(style="margin-bottom:20px")
          .container-fluid
            nav.navbar.navbar-fixed-top
              .container
                .navbar-header
                  a.navbar-brand(href='/') KSP
                #navbar.navbar-collapse.collapse
                  ul.nav.navbar-nav
                    - if (userdata)
                        li.active
                          a(href='#', id="umum-menu" data-toggle="dropdown", aria-expanded="false") Umum
                          ul(class="dropdown-menu" aria-labelledby="umum-menu")
                            li
                                a(href="") Hardcoded Menu
                            li
                                a(href="") Hardcoded Menu
                            li
                                a(href="") Hardcoded Menu
                            li
                                a(href="") Hardcoded Menu
                        li
                          a(href='#', id="aplikasi-menu", data-toggle="dropdown", aria-expanded="false") Aplikasi
                          ul(class="dropdown-menu multi-level" aria-labelledby="aplikasi-menu")
                            - each val,index in usermenus
                                - if (val.scp011s.length == 0)
                                    li
                                        a(href="#") #{val.sdapldsc}
                                - else 
                                    li.dropdown-submenu
                                        a(tabindex="1", href="#") #{val.sdapldsc}
                                        ul.dropdown-menu
                                            - each val2,index2 in val.scp011s
                                                li
                                                    a(tabindex="-1", href="/app/prog/#{val2.scpgm}") #{val2.scpgm} - #{val2.scodsc}
                  ul.nav.navbar-nav.pull-right
                    - if (userdata)
                        li
                            a(href='/auth/logout') Logout
                    - else 
                        li
                            a(href='/auth/login') Login

    block content
