extends layout

block content

    div.container
        div.row.w400.m0
            div.main
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br
                h3
                    | Log In
                .login-or
                    hr.hr-or
                    span.span-or
                form(role='form', action="", method="post")
                    .form-group
                        label Username
                        input#inputUsernameEmail.form-control(type="text", name="scuser")
                    .form-group
                        label Password
                        input#inputPassword.form-control(type="password", name="scpass")
                    button.btn.btn.btn-primary(type="submit")
                        | Login


