extends layout

block content

    div.container(ng-controller="menuLevel1Ctrl")
        div.row
            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...
            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br
                h3 Pemeliharaan Menu Level 1
                hr

                div.menulevel1tablewrapper
                    table.table.table-menu1
                        tr
                            th.w50 #
                            th Deskripsi
                        - each val,index in menus
                            tr(ng-click="menuClicked(#{index}, '#{val.sdaplnum}', '#{val.sdapldsc}')", ng-class="{menutrselected: selectedMenuIndex == #{index}}")
                                td #{index+1}
                                td #{val.sdapldsc}
                hr
                div.btn-toolbar.pull-right
                    button(class="btn btn-primary", ng-click="tambahClicked()") Tambah
                    button(class="btn btn-primary", ng-click="editClicked()") Edit
                    button(class="btn btn-primary", ng-click="hapusClicked()") Hapus

                div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                    div(class="modal-dialog", role="document")
                        div.modal-content
                            div.modal-header
                                button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                    span(aria-hidden="true") &times;
                                h4.modal-title#myModalLabel {{modalTitle}} 
                            div.modal-body
                                form(action="", method="POST", class="addmenuform")
                                    input(type="hidden", name="action", value="{{modalAction}}")
                                    input(type="hidden", name="sdaplnum", value="{{selectedMenu.sdaplnum}}")
                                    .form-group
                                        label.col-sm-2.control-label Deskripsi
                                        .col-sm-10
                                            input.form-control(type="text", name="sdapldsc", ng-model="selectedMenu.sdapldsc")
                                    div.clearfix
                            div.modal-footer
                                button(class="btn btn-primary addmenusubmitbtn") Simpan

