extends layout

block content

    div.container(ng-controller="otoritasCtrl")
        div.row
            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...
            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br
                form(role='form', class="form-horizontal", ng-submit="kspsubmit(registerForm.$valid)", name="registerForm")
                    div.block1(ng-show="selblock == 1")
                        h3 Pemeliharaan Data User 
                        hr
                        .form-group
                            label.col-sm-3.control-label User ID
                            .col-sm-9
                                .row
                                    .col-lg-6 
                                        .input-group
                                            input.form-control(type="text", name="scuser", ng-model="formdata.scuser", ng-maxlength="20")
                                            span.input-group-btn
                                                //button(type="button", class="btn btn-default", data-toggle="modal", data-target="#userPickerModal") 
                                                button(type="button", id="user-picker", class="btn btn-default", data-toggle="dropdown", aria-expanded="false") 
                                                    span.glyphicon.glyphicon-circle-arrow-right

                                                ul(class="dropdown-menu", aria-labelledby="user-picker")
                                                    - each val,index in users
                                                        li(ng-click="userClicked('#{val.scuser}')")
                                                            a(href="") #{val.scunme}

                                    .col-lg-6
                                        label
                                            input(type="checkbox", ng-model="formdata.scstat", ng-checked="formdata.scstat === '1'")
                                            |  aktif
                        .form-group
                            label.col-sm-3.control-label Nama
                            .col-sm-9
                                input.form-control(type="text", name="scunme", ng-model="formdata.scunme", ng-maxlength="50")
                        .form-group
                            label.col-sm-3.control-label Kode Departemen
                            .col-sm-9
                                select(class="form-control", name="scdepn", ng-model="formdata.scdepn")
                                    option(value="1", ng-selected="formdata.scdepn == 1") Teller
                                    option(value="2", ng-selected="formdata.scdepn == 2") Tabungan
                                    option(value="3", ng-selected="formdata.scdepn == 3") Deposito
                                    option(value="4", ng-selected="formdata.scdepn == 4") Pinjaman
                                    option(value="5", ng-selected="formdata.scdepn == 5") Pembukuan
                        .form-group
                            label.col-sm-3.control-label Nomor Perkiraaan
                            .col-sm-9
                                input.form-control(type="text", name="scact", ng-model="formdata.scact")
                        .form-group
                            label.col-sm-3.control-label Level User
                            .col-sm-9
                                .radio
                                    label 
                                        input(type="radio", name="scspvr", value="1", ng-model="formdata.scspvr") 
                                        | Supervisor
                                    label 
                                        input(type="radio", name="scspvr", value="2", ng-model="formdata.scspvr") 
                                        | Operator
                        .form-group
                            label.col-sm-3.control-label Otoritas Umum
                            .col-sm-9
                                select(class="form-control", name="scauth", ng-model="formdata.scauth")
                                    option(value="1", ng-selected="formdata.scauth == 1") Operator System
                                    option(value="2", ng-selected="formdata.scauth == 2") Manager Aplikasi
                                    option(value="3", ng-selected="formdata.scauth == 3") Lain Lain
                        .form-group
                            label.col-sm-3.control-label Masa Berlaku
                            .col-sm-9
                                .row
                                    .col-lg-6 
                                        .input-group
                                            input.form-control(type="text", name="scfreq", ng-model="formdata.scfreq", ng-pattern="$root.onlyNumbers", ng-maxlength="5")
                                            span.input-group-addon hari
                                        span(ng-show="registerForm.formdata.scfreq.$invalid") Invalid data
                        .form-group
                            label.col-sm-3.control-label Dari Tanggal
                            .col-sm-9
                                .row
                                    .col-lg-6 
                                        input.form-control(type="text", class="datetimepickerdefault daritanggal", name="", placeholder="Dari Tanggal", disabled, ng-model="formdata.scopdt")
                                    .col-lg-6
                                        input.form-control(type="text", class="datetimepicker sampaidengan", name="", placeholder="Sampai Dengan", ng-model="formdata.sclast")
                        .form-group
                            label.col-sm-3.control-label Kode Cabang
                            .col-sm-9
                                input.form-control(type="text", name="scnwil", ng-model="formdata.scnwil", ng-maxlength="2")

                        hr
                        h3 Lingkungan Kerja
                        hr
                        .form-group
                            label.col-sm-3.control-label Directory Posting G/L
                            .col-sm-9
                                input.form-control(type="text", name="scdrdat", ng-model="formdata.scdrdat")
                        .form-group
                            label.col-sm-3.control-label Directory Deposito
                            .col-sm-9
                                input.form-control(type="text", name="scdrrpt", ng-model="formdata.scdrrpt")
                        .form-group
                            label.col-sm-3.control-label Directory Tabungan
                            .col-sm-9
                                input.form-control(type="text", name="scdrmod", ng-model="formdata.scdrmod")
                        .form-group
                            label.col-sm-3.control-label Directory Pinjaman
                            .col-sm-9
                                input.form-control(type="text", name="scdrpgm", ng-model="formdata.scdrpgm")

                        hr
                        div.btn-toolbar.pull-right
                            button.btn.btn-primary Reset
                            button.btn.btn-primary(type="submit") Simpan
                            button.btn.btn-warning(type="button", ng-click="toggleBlock()") Lanjut


                    div.block2(ng-show="selblock == 2")
                        h3 Otoritas Pemakai
                        hr
                        p User ID : {{formdata.scuser}} 
                        p Nama User : {{formdata.scunme}}
                        hr
                        div.col-md-4
                            h4 Fungsi Aplikasi
                            hr
                            select(class="form-control otoritas-menu-selector" multiple)
                                - each val in menus
                                    option(value="#{val.sdaplnum}", ng-click="menuClicked('#{val.sdaplnum}')") #{val.sdapldsc}

                        div.col-md-8
                            h4 Level Otoritas Pemakai
                            hr
                            .form-group
                                label.col-sm-3.control-label Inquiry
                                .col-sm-9
                                    .row
                                        .col-lg-3
                                            input.form-control(type="text", name="", ng-model="selectedMenudata.sainqu")
                                        .col-lg-9.pt10
                                            div(ui-slider, min="0", max="9", ng-model="selectedMenudata.sainqu")

                            .form-group
                                label.col-sm-3.control-label Monetary
                                .col-sm-9
                                    .row
                                        .col-lg-3
                                            input.form-control(type="text", name="", ng-model="selectedMenudata.samoni")
                                        .col-lg-9.pt10
                                            div(ui-slider, min="0", max="9", ng-model="selectedMenudata.samoni")

                            .form-group
                                label.col-sm-3.control-label Maintenance
                                .col-sm-9
                                    .row
                                        .col-lg-3
                                            input.form-control(type="text", name="", ng-model="selectedMenudata.samain")
                                        .col-lg-9.pt10
                                            div(ui-slider, min="0", max="9", ng-model="selectedMenudata.samain")

                            .form-group
                                label.col-sm-3.control-label Operatory
                                .col-sm-9
                                    .row
                                        .col-lg-3
                                            input.form-control(type="text", name="", ng-model="selectedMenudata.saoper")
                                        .col-lg-9.pt10
                                            div(ui-slider, min="0", max="9", ng-model="selectedMenudata.saoper")

                            .form-group
                                label.col-sm-4.control-label Batas Transaksi Debet
                                .col-sm-8
                                    input.form-control(type="text", name="", ng-model="selectedMenudata.sadrlm", ng-pattern="onlyNumbers")

                            .form-group
                                label.col-sm-4.control-label Batas Transaksi Kredit
                                .col-sm-8
                                    input.form-control(type="text", name="", ng-model="selectedMenudata.sacrlm", ng-pattern="onlyNumbers")

                            .form-group
                                label.col-sm-3.control-label Override
                                .col-sm-9
                                    input(type="checkbox", name="", ng-model="selectedMenudata.saover")

                            hr
                            div.btn-toolbar.pull-right
                                button.btn.btn-primary Reset
                                button.btn.btn-primary(type="submit") Simpan
                                button.btn.btn-warning(type="button", ng-click="toggleBlock()") Kembali

    div(class="modal fade", id="userPickerModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
        div(class="modal-dialog", role="document")
            div.modal-content
                div.modal-header
                    button(type="button", class="close", data-dismiss="modal", arial-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title#myModalLabel Pilih User
                div.modal-body
                    table.table.table-striped(class="table-user-picker")
                        tr
                            th(style="width:40px") #
                            th User ID
                            th Name
                        - each val,index in users
                            tr(ng-click="userClicked('#{val.scuser}')")
                                td #{index+1}
                                td #{val.scuser}
                                td #{val.scunme}
                div.modal-footer

