extends layout

block content

    div.container(ng-controller="sp0007Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Pemeliharaan Rencana Biaya Layanan
                        hr

                    div.menulevel1tablewrapper
                            table.table.table-menu1
                                thead
                                    tr
                                        th Kode
                                        th Nama Rencana Bunga
                                tbody
                                    tr(ng-repeat="item in layananList", ng-click="layananClicked($index)", ng-class="{menutrselected: selectedLayananIndex == $index}")
                                        td {{item.kode}}
                                        td {{item.namalayanan}}
                    hr
                    div.btn-toolbar.pull-right
                        button(class="btn btn-primary", type="button", ng-click="tambahClicked()") Tambah
                        button(class="btn btn-primary", type="button", ng-click="editClicked()") Edit
                        button(class="btn btn-primary", type="button", ng-click="hapusClicked()") Hapus

                    div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                        div(class="modal-dialog", role="document")
                            div.modal-content
                                div.modal-header
                                    button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title#myModalLabel {{modalTitle}} 
                                div.modal-body
                                    form(action="", method="POST", class="addmenuform")
                                        .form-group
                                            label.col-sm-5.control-label Kode Biaya Layanan
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", required, ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Nama Biaya Layanan
                                            .col-sm-6
                                                input.form-control(type="text", ng-model="namabiayalayanan", required, ng-maxlength="30")
                                        .form-group
                                            label.col-sm-5.control-label Biaya Transaksi DR
                                            .col-sm-6
                                                input.form-control(type="text", ng-model="biayatransaksidr", ng-maxlength="30")
                                        .form-group
                                            label.col-sm-5.control-label Biaya Transaksi CR
                                            .col-sm-6
                                                input.form-control(type="text", ng-model="biayatransaksicr", ng-maxlength="30")
                                        .form-group
                                            label.col-sm-5.control-label Biaya Administrasi
                                            .col-sm-6
                                                input.form-control(type="text", ng-model="biayaadministrasi", ng-maxlength="30")
                                        .form-group
                                            label.col-sm-5.control-label Biaya Rekening Pasif
                                            .col-sm-6
                                                input.form-control(type="text", ng-model="biayarekeningpasif", ng-maxlength="30")
                                div.modal-footer
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==false", ng-click="simpanButtonClicked()") Simpan
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==true", disabled) Loading...
