extends layout

block content

    div.container(ng-controller="sp0006Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Pemeliharaan Rencana Bunga Tabungan
                        hr

                    div.menulevel1tablewrapper
                            table.table.table-menu1
                                tbody
                                    tr(ng-repeat="item in bungaList", ng-click="bungaClicked($index)", ng-class="{menutrselected: selectedBungaIndex == $index}")
                                        td {{item.kode}}
                                        td {{item.namabunga}}
                    hr
                    div.btn-toolbar.pull-right
                        button(class="btn btn-primary", type="button", ng-click="tambahClicked()") Tambah
                        button(class="btn btn-primary", type="button", ng-click="editClicked()") Edit
                        button(class="btn btn-primary", type="button", ng-click="hapusClicked()") Hapus


                    div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                        div(class="modal-dialog", role="document")
                            div.modal-content
                                div.modal-header
                                    button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title#myModalLabel {{modalTitle}} 
                                div.modal-body
                                    form(action="", method="POST", class="addmenuform")
                                        .form-group
                                            label.col-sm-5.control-label Kode Rencana Bunga
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="koderencanabunga", required, ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Nama Rencana Bunga
                                            .col-sm-6
                                                input.form-control(type="text", ng-model="namarencanabunga", required, ng-maxlength="30")
                                        .form-group
                                            label.col-sm-5.control-label Metode Perhitungan Bunga
                                            .col-sm-6
                                                select(class="form-control", ng-model="perhitunganbunga")
                                                    option(value="1") Saldo Rata-rata Harian
                                                    option(value="2") Saldo Terendah
                                        .form-group
                                            label.col-sm-5.control-label Tanda Dikenakan Pajak
                                            .col-sm-6
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                    |   Ya  
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Tidak
                                        .form-group
                                            label.col-sm-5.control-label Persentase Pajak
                                            .col-sm-3
                                                .input-group
                                                    input.form-control(type="text", ng-model="persentasepajak", ng-maxlength="4")
                                                    span.input-group-addon %
                                        .form-group
                                            label.col-sm-5.control-label Dasar Perhitungan Pajak
                                            .col-sm-6
                                                label.mt-10
                                                    input(type="radio", name="perhitunganpajak", ng-model="perhitunganpajak", value="1")
                                                    |   Saldo  
                                                label.mt-10
                                                    input(type="radio", name="perhitunganpajak", ng-model="perhitunganpajak", value="2")
                                                    |   Bunga
                                        .form-group
                                            label.col-sm-5.control-label Nilai Minimal Kena Pajak
                                            .col-sm-4
                                                input.form-control(type="text", ng-model="minimalpajak", ng-maxlength="12")
                                        .form-group
                                            label.col-sm-5.control-label Saldo Minimal Mengendap
                                            .col-sm-4
                                                input.form-control(type="text", ng-model="minimalmengendap", ng-maxlength="12")
                                        .form-group
                                            label.col-sm-5.control-label Bayar Bunga Diawal Periode
                                            .col-sm-6
                                                label.mt-10
                                                    input(type="radio", name="bungaperiode", ng-model="bungaperiode", value="1")
                                                    |   Ya
                                                label.mt-10
                                                    input(type="radio", name="bungaperiode", ng-model="bungaperiode", value="2")
                                                    |   Tidak
                                        div.clearfix

                                        hr
                                        h4 Data Suku Bunga
                                        hr
                                        .form-group
                                            label.col-sm-3.control-label Suku Bunga
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="sukubungaA", placeholder="Suku Bunga", ng-maxlength="4")
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="saldoterkaitA", placeholder="Saldo Terkait", ng-maxlength="15")
                                        .form-group
                                            label.col-sm-3.control-label Suku Bunga
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="sukubungaB", placeholder="Suku Bunga", ng-maxlength="4")
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="saldoterkaitB", placeholder="Saldo Terkait", ng-maxlength="15")
                                        .form-group
                                            label.col-sm-3.control-label Suku Bunga
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="sukubungaC", placeholder="Suku Bunga", ng-maxlength="4")
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="saldoterkaitC", placeholder="Saldo Terkait", ng-maxlength="15")
                                        .form-group
                                            label.col-sm-3.control-label Suku Bunga
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="sukubungaD", placeholder="Suku Bunga", ng-maxlength="4")
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="saldoterkaitD", placeholder="Saldo Terkait", ng-maxlength="15")
                                div.modal-footer
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==false", ng-click="simpanButtonClicked()") Simpan
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==true", disabled) Loading...
