extends layout

block content

    div.container(ng-controller="sp0010Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Pemeliharaan Data Kolektor
                        hr

                    div.menulevel1tablewrapper
                            table.table.table-menu1
                                thead
                                    tr
                                        th Kd Kol
                                        th Kd Wil
                                        th Nama Kolektor
                                        th Jml Target
                                        th Sld Target Dep
                                        th Sld Target Tab
                                tbody
                                    tr(ng-repeat="item in layananList", ng-click="layananClicked($index)", ng-class="{menutrselected: selectedLayananIndex == $index}")
                                        td {{item.kode}}
                                        td {{item.namalayanan}}
                                        td
                                        td
                                        td
                                        td
                    hr
                    div.btn-toolbar.pull-right
                        button(class="btn btn-primary", type="button", ng-click="tambahClicked()") Tambah
                        button(class="btn btn-primary", type="button", ng-click="editClicked()") Edit
                        button(class="btn btn-primary", type="button", ng-click="hapusClicked()") Hapus

                    div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                        div(class="modal-dialog", role="document")
                            div.modal-content
                                div.modal-header
                                    button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title#myModalLabel {{modalTitle}} 
                                div.modal-body
                                    form(action="", method="POST", class="addmenuform")
                                        .form-group
                                            label.col-sm-5.control-label Kode Kolektor
                                            .col-sm-2
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Wilayah
                                            .col-sm-2
                                                select(class="form-control", ng-model="perhitunganbunga")
                                                    option(value="1") 01
                                                    option(value="2") 02
                                                    option(value="3") 03
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Saldo Target Tab
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Jumlah Nas
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Saldo Target Deb
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                div.modal-footer
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==false", ng-click="simpanButtonClicked()") Simpan
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==true", disabled) Loading...
