extends layout

block content

    div.container(ng-controller="sp0002Ctrl", ng-init="viewdata='#{viewdata}'")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Parameter Identitas
                        hr
                        .form-group
                            label.col-sm-3.control-label Nama Instansi BPR
                            .col-sm-4
                                input.form-control(type="text", name="scunme", ng-model="namainstansibpr", ng-maxlength="35")
                        .form-group
                            label.col-sm-3.control-label Alamat Instansi
                            .col-sm-6
                                input.form-control(type="text", name="scunme", ng-model="alamatA", ng-maxlength="40")
                        .form-group
                            label.col-sm-3.control-label 
                            .col-sm-6
                                input.form-control(type="text", name="scunme", ng-model="alamatB", ng-maxlength="40")
                        .form-group
                            label.col-sm-3.control-label 
                            .col-sm-6
                                input.form-control(type="text", name="scunme", ng-model="alamatC", ng-maxlength="40")
                        .form-group
                            label.col-sm-3.control-label Kode Pos
                            .col-sm-3
                                input.form-control(type="text", name="scunme", ng-model="kodepos", ng-maxlength="5")
                        .form-group
                            label.col-sm-3.control-label Nomor Telepon
                            .col-sm-3
                                input.form-control(type="text", name="scunme", ng-model="telepon", ng-maxlength="12")
                        .form-group
                            label.col-sm-3.control-label Nomor Fax
                            .col-sm-3
                                input.form-control(type="text", name="scunme", ng-model="fax", ng-maxlength="12")
                        .form-group
                            label.col-sm-3.control-label NPWP Instansi
                            .col-sm-6
                                input.form-control(type="text", name="scunme", ng-model="npwp", ng-maxlength="25")
                        .form-group
                            label.col-sm-3.control-label Kode Bank Pelapor
                            .col-sm-3
                                input.form-control(type="text", name="scunme", ng-model="pelapor", ng-maxlength="12")
                        .form-group
                            label.col-sm-3.control-label Wilayah / Kecamatan
                            .col-sm-6
                                input.form-control(type="text", name="scunme", ng-model="kecamatan", ng-maxlength="20")
                    hr
                    div.btn-toolbar.pull-right
                        button.btn.btn-primary Reset
                        button.btn.btn-primary(type="button", ng-show="isLoading==false", ng-click="identitasSaveButtonDidClicked()") Simpan
                        button.btn.btn-primary(type="button", ng-show="isLoading==true") Loading...
