extends layout

block content

    div.container(ng-controller="sp0013Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Input Parameter Jabatan
                        hr

                    div.menulevel1tablewrapper
                            table.table.table-menu1
                                thead
                                    tr
                                        th Jabatan
                                        th Nama Pejabat
                                        th Keterangan
                                tbody
                                    tr(ng-repeat="item in itemList", ng-click="itemClicked($index)", ng-class="{menutrselected: selectedItemIndex == $index}")
                                        td {{item[0]}}
                                        td {{item[1]}}
                                        td {{item[2]}}
                    hr
                    div.btn-toolbar.pull-right
                        button(class="btn btn-primary", type="button", ng-click="tambahClicked()") Tambah
                        button(class="btn btn-primary", type="button", ng-click="editClicked()") Edit
                        button(class="btn btn-primary", type="button", ng-click="hapusClicked()") Hapus

                    div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                        div(class="modal-dialog", role="document")
                            div.modal-content
                                div.modal-header
                                    button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title#myModalLabel {{modalTitle}} 
                                div.modal-body
                                    form(action="", method="POST", class="addmenuform")
                                        .form-group
                                            label.col-sm-3.control-label Kode Laporan
                                            .col-sm-9
                                                select(class="form-control", ng-model="model5")
                                                    option(value="1") DP008
                                                    option(value="1") DP008
                                                    option(value="1") DP008
                                                    option(value="1") DP008
                                        .form-group
                                            label.col-sm-3.control-label 
                                            .col-sm-9
                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-3.control-label Jabatan
                                            .col-sm-9
                                                select(class="form-control", ng-model="model5")
                                                    option(value="1") DP008
                                                    option(value="1") DP008
                                                    option(value="1") DP008
                                                    option(value="1") DP008
                                        .form-group
                                            label.col-sm-3.control-label Nama Petugas
                                            .col-sm-9
                                                input.form-control(type="text", ng-model="model2", ng-maxlength="30")
                                        .form-group
                                            label.col-sm-3.control-label Keterangan
                                            .col-sm-9
                                                input.form-control(type="text", ng-model="model2", ng-maxlength="30")
                                div.modal-footer
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==false", ng-click="simpanButtonClicked()") Simpan
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==true", disabled) Loading...
