extends layout

block content

    div.container(ng-controller="sp0008Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Pemeliharaan Kode Produk Tabungan
                        hr

                    div.menulevel1tablewrapper
                            table.table.table-menu1
                                thead
                                    tr
                                        th Kode
                                        th Nama Produk
                                tbody
                                    tr(ng-repeat="item in produkList", ng-click="produkClicked($index)", ng-class="{menutrselected: selectedProdukIndex == $index}")
                                        td {{item.kode}}
                                        td {{item.nama}}
                    hr
                    div.btn-toolbar.pull-right
                        button(class="btn btn-primary", type="button", ng-click="tambahClicked()") Tambah
                        button(class="btn btn-primary", type="button", ng-click="editClicked()") Edit
                        button(class="btn btn-primary", type="button", ng-click="hapusClicked()") Hapus

                    div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                        div(class="modal-dialog modal-lg", role="document")
                            div.modal-content
                                div.modal-header
                                    button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title#myModalLabel {{modalTitle}} 
                                div.modal-body

                                    ul.nav.nav-tabs
                                        li.active(data-toggle="tab", ng-click="setActiveTab(1)") 
                                            a(href="#tab1", data-toggle="tab") Data Dasar
                                        li(data-toggle="tab", ng-click="setActiveTab(2)") 
                                            a(href="#tab2", data-toggle="tab") Data Pendukung
                                        li(data-toggle="tab", ng-click="setActiveTab(3)") 
                                            a(href="#tab3", data-toggle="tab") Interface GL

                                    div.tab-content
                                        div.block2.paramtanggaltab1#tab1.mt10.tab-pane.active
                                            form(action="", method="POST", class="addmenuform")
                                                div.bluebox
                                                    h4.waito Jenis Tabungan
                                                
                                                .form-group.mt10
                                                    label.col-sm-5.control-label Jenis Tabungan
                                                    .col-sm-3
                                                        input(type="radio", name="model3", ng-model="model3", value="1")
                                                        |   Tabungan Biasa
                                                .form-group
                                                    label.col-sm-5.control-label 
                                                    .col-sm-3
                                                        input(type="radio", name="model3", ng-model="model3", value="2")
                                                        |   Tabungan Program
                                                .form-group
                                                    label.col-sm-5.control-label 
                                                    .col-sm-3
                                                        input(type="radio", name="model3", ng-model="model3", value="3")
                                                        |   Tabungan Sekolah

                                                hr
                                                .form-group
                                                    label.col-sm-5.control-label Kode Produk
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model1", required, ng-maxlength="2")
                                                .form-group
                                                    label.col-sm-5.control-label Nama Produk
                                                    .col-sm-6
                                                        input.form-control(type="text", ng-model="model2", required, ng-maxlength="30")
                                                .form-group
                                                    label.col-sm-5.control-label Kelompok Tabungan
                                                    .col-sm-6
                                                        label.mt-10
                                                            input(type="radio", name="model4", ng-model="model4", value="1")
                                                            |   Tab. Pihak III Non Bank
                                                        label.mt-10
                                                            input(type="radio", name="model4", ng-model="model4", value="2")
                                                            |   ABP
                                                .form-group
                                                    label.col-sm-5.control-label Perubahan Status Rekening Otomatis
                                                    .col-sm-6
                                                        select(class="form-control", ng-model="model5")
                                                            option(value="1") Ya
                                                            option(value="2") Tidak
                                                .form-group
                                                    label.col-sm-5.control-label Jumlah Hari Menjadi Pasif
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model6", ng-maxlength="10")
                                                .form-group
                                                    label.col-sm-5.control-label Dasar Tahun Accrual
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model7", ng-maxlength="10")
                                                        p.help-block 1 -> 360; 2 -> 365
                                                .form-group
                                                    label.col-sm-5.control-label Dasar Hari Accrual
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model8", ng-maxlength="10")
                                                        p.help-block 1 -> 30; 2 -> Umur Bulan
                                                .form-group
                                                    label.col-sm-5.control-label Siklus Pembayaran Bunga
                                                    .col-sm-6
                                                        select(class="form-control", ng-model="model9")
                                                            option(value="1") Bulanan
                                                            option(value="2") Harian
                                                .form-group
                                                    label.col-sm-5.control-label Periode Pembayaran Bunga
                                                    .col-sm-3
                                                        .input-group
                                                            input.form-control(type="text", ng-model="model10", ng-maxlength="3")
                                                            span.input-group-addon Bulanan
                                                .form-group
                                                    label.col-sm-5.control-label Kode Rencana Bunga
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model11", ng-maxlength="2")
                                                .form-group
                                                    label.col-sm-5.control-label Rencana Bunga Diijinkan
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model12", ng-maxlength="2")
                                                .form-group
                                                    label.col-sm-5.control-label Disposisi Bunga
                                                    .col-sm-6
                                                        select(class="form-control", ng-model="model13")
                                                            option(value="1") Kapitalisasi
                                                            option(value="2") Transfer
                                                            option(value="3") Cash
                                                .form-group
                                                    label.col-sm-5.control-label Pengakuan Biaya
                                                    .col-sm-6
                                                        label.mt-10
                                                            input(type="radio", name="model14", ng-model="model14", value="1")
                                                            |   Accrual Basis
                                                        label.mt-10
                                                            input(type="radio", name="model14", ng-model="model14", value="2")
                                                            |   Cash Basis
                                                .form-group
                                                    label.col-sm-5.control-label Posting Bunga
                                                    .col-sm-6
                                                        label.mt-10
                                                            input(type="radio", name="model15", ng-model="model15", value="1")
                                                            |   Akhir Bulan
                                                        label.mt-10
                                                            input(type="radio", name="model15", ng-model="model15", value="2")
                                                            |   Awal Bulan Berikutnya
                                                .form-group
                                                    label.col-sm-5.control-label Setoran Minimum Pembukaan
                                                    .col-sm-3
                                                        .input-group
                                                            span.input-group-addon Rp
                                                            input.form-control(type="text", ng-model="model16", ng-maxlength="10")
                                                .form-group
                                                    label.col-sm-5.control-label Setoran Minimum Berikutnya
                                                    .col-sm-3
                                                        .input-group
                                                            span.input-group-addon Rp
                                                            input.form-control(type="text", ng-model="model17", ng-maxlength="10")

                                        div.block2.paramtanggaltab2#tab2.mt10.tab-pane
                                            form(action="", method="POST", class="addmenuform")
                                                .form-group
                                                    label.col-sm-5.control-label Kode Produk
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model1", disabled, ng-maxlength="2")
                                                .form-group
                                                    label.col-sm-5.control-label Nama Produk
                                                    .col-sm-6
                                                        input.form-control(type="text", ng-model="model2", disabled,  ng-maxlength="30")
                                                div.bluebox.mb10
                                                    h4.waito Data Pendukung
                                                .form-group
                                                    label.col-sm-5.control-label Siklus Biaya Layanan
                                                    .col-sm-6
                                                        select(class="form-control", ng-model="model18")
                                                            option(value="1") Bulanan
                                                            option(value="2") Harian
                                                .form-group
                                                    label.col-sm-5.control-label Periode Biaya Layanan
                                                    .col-sm-3
                                                        .input-group
                                                            input.form-control(type="text", ng-model="model19", ng-maxlength="2")
                                                            span.input-group-addon Bulanan
                                                .form-group
                                                    label.col-sm-5.control-label Kode Biaya Layanan
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model20", ng-maxlength="2")
                                                .form-group
                                                    label.col-sm-5.control-label Biaya Layanan Diijinkan
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model21", ng-maxlength="2")
                                                .form-group.mt10
                                                    label.col-sm-5.control-label Fasilitas Buku Tabungan
                                                    .col-sm-3
                                                        input(type="radio", name="model22", ng-model="model22", value="1")
                                                        |   Menggunakan Buku
                                                .form-group
                                                    label.col-sm-5.control-label 
                                                    .col-sm-3
                                                        input(type="radio", name="model22", ng-model="model22", value="2")
                                                        |   Tidak Menggunakan
                                                .form-group
                                                    label.col-sm-5.control-label Jumlah Baris dalam 1 Buku
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model23", ng-maxlength="3")
                                                .form-group
                                                    label.col-sm-5.control-label Baris Pertama
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model24", ng-maxlength="3")
                                                .form-group
                                                    label.col-sm-5.control-label Spasi Sesudah Cetak
                                                    .col-sm-3
                                                        input.form-control(type="text", ng-model="model25", ng-maxlength="3")
                                                .form-group
                                                    label.col-sm-5.control-label Kelengkapan Lain
                                                    .col-sm-7
                                                        label
                                                            input(type="checkbox", ng-model="model26")
                                                            | Header
                                                        label
                                                            input(type="checkbox", ng-model="model27")
                                                            | Footer

                                        div.block2.paramtanggaltab3#tab3.mt10.tab-pane
                                            form(action="", method="POST", class="addmenuform")
                                                div.bluebox.mb10
                                                    h4.waito Data Interface Buku Besar

                                                div.col-md-12
                                                    div.col-md-6
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Saldo Rekening
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Biaya Bunga
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Biaya Bunga YMH
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Pajak Atas Bunga
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Bunga Dibayar Tunai
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Pendapatan Biaya Layanan
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Antar Aplikasi Deposito
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Penyelesaian
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                        .form-group
                                                            div.col-md-6
                                                                input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                                |   Antar Aplikasi Pinjaman
                                                            div.col-md-4
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                            div.col-md-2
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")
                                                    div.col-md-6
                                                        div.interfaceglbox.mb10
                                                            div.col-md-12.row
                                                                div.col-md-6.brdr
                                                                    p.fs11 Nomor Perkiraan
                                                                    p 
                                                                        b 1001010
                                                                div.col-md-6
                                                                    p.fs11 Pusat Biaya
                                                                    p 
                                                                        b 000
                                                            div.col-md-12.brdt.pt6
                                                                p.fs11 Produk Buku Besar
                                                                p 
                                                                    b KAS BESAR

                                                        .form-group.mt10.mb10
                                                            label.col-sm-5.control-label Pencarian
                                                            .col-sm-5
                                                                input.form-control(type="text", ng-model="koderencanabunga", ng-maxlength="2")

                                                        div(style="width:80%; margin: 0 auto; text-align:center;")
                                                            button(type="button", class="btn btn-primary btn-sm mr5") Simpan
                                                            button(type="button", class="btn btn-primary btn-sm mr5") Prev
                                                            button(type="button", class="btn btn-primary btn-sm mr5") Next
                                                div.clearfix



                                div.modal-footer
                                    button(class="btn btn-primary",type="button", ng-show="activeTab==1 || activeTab==2", ng-click="cancel()") Tutup
                                    button(class="btn btn-warning",type="button", ng-show="activeTab==1 || activeTab==2") Lanjut

                                    button(class="btn btn-primary",type="button", ng-show="isLoading==false && activeTab==3", ng-click="simpanButtonClicked()") Simpan
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==true && activeTab==3", disabled) Loading...
