extends layout

block content

    div.container(ng-controller="sp0014Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Parameter Produk Pinjaman
                        hr

                        ul.nav.nav-tabs
                            li.active(data-toggle="tab") 
                                a(href="#tab1", data-toggle="tab") Data Dasar
                            li(data-toggle="tab") 
                                a(href="#tab2", data-toggle="tab") Perhitungan
                            li(data-toggle="tab") 
                                a(href="#tab3", data-toggle="tab") Interface GL
                        br

                    div.tab-content

                        div.block2.paramtanggaltab1#tab1.tab-pane.active
                            div.row
                                div.col-md-10
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Data Dasar
                                        div.panel-body
                                            div.row
                                                div.col-md-4
                                                    .form-group
                                                        label.col-sm-6.control-label Kode Produk Pinjaman
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-6.control-label Jangka Waktu Maksimum
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-6.control-label Periode Pinjaman
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                div.col-md-8
                                                    .form-group
                                                        label.col-sm-3.control-label Nama Produk
                                                        .col-sm-8
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-3.control-label Type Produk
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Terjadwal
                                                                option(value="2") Tidak Terjadwal
                                                    .form-group
                                                        label.col-sm-3.control-label Plafond Maksimum
                                                        .col-sm-8
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                div.col-md-2
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Status Form
                                        div.panel-body(style="text-align:center;")
                                            button(type="button", class="btn btn-default") ? Produk
                                div.clearfix
                                div.col-md-6
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Data Bunga
                                        div.panel-body
                                            div.row
                                                div.col-md-12
                                                    .form-group
                                                        label.col-sm-4.control-label Suku Bunga
                                                        .col-sm-8
                                                            .input-group
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                span.input-group-addon %
                                                    .form-group
                                                        label.col-sm-4.control-label Suku Bunga Terendah
                                                        .col-sm-8
                                                            .input-group
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                span.input-group-addon %
                                                    .form-group
                                                        label.col-sm-4.control-label Suku Bunga Tertinggi
                                                        .col-sm-8
                                                            .input-group
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                span.input-group-addon %
                                                
                                div.col-md-6
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Metoda Perhitungan
                                        div.panel-body
                                            div.row
                                                div.col-md-12
                                                    .form-group
                                                        label.col-sm-4.control-label Perhitungan Bunga
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Flat
                                                                option(value="2") Menurun
                                                                option(value="3") Anuitas Tahunan
                                                                option(value="4") Anuitas Bulanan
                                                                option(value="5") Murabahah
                                                    .form-group
                                                        label.col-sm-4.control-label Perhitungan Pendapatan
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Accrual
                                                                option(value="2") Cash
                                                    .form-group
                                                        label.col-sm-4.control-label Perhitungan Tunggakan
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Automatic
                                                                option(value="2") Manual
                                div.clearfix
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Data Pembayaran Angsuran
                                        div.panel-body
                                            div.row
                                                div.col-md-12
                                                    div.col-md-5
                                                        .form-group
                                                            label.col-sm-8.control-label Tenggang Waktu Angsuran
                                                            .col-sm-4
                                                                .input-group
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                    span.input-group-addon Hari
                                                        .form-group
                                                            label.col-sm-8.control-label Tenggang Waktu Cetak Nota
                                                            .col-sm-4
                                                                .input-group
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                    span.input-group-addon Hari
                                                        
                                                    div.col-md-5
                                                        .form-group
                                                            label.col-sm-8.control-label Siklus Angsuran Pokok
                                                            .col-sm-3
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-8.control-label Siklus Angsuran Bunga
                                                            .col-sm-3
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")

                                                    div.col-md-2
                                                        .form-group
                                                            label.col-sm-6.control-label Periode
                                                            .col-sm-6
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label Periode
                                                            .col-sm-6
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")

                                div.clearfix
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Siklus Perhitungan KOLEKTIBILITAS
                                        div.panel-body
                                            div.row
                                                div.col-md-12
                                                    div.col-md-6
                                                        .form-group
                                                            label.col-sm-6.control-label Tunggakan Pokok
                                                            .col-sm-6

                                                        .form-group
                                                            label.col-sm-6.control-label 1. Lancar
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label 2. Kurang Lancar
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label 3.  Diragukan
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label 4. Macet
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")

                                                    div.col-md-6
                                                        .form-group
                                                            label.col-sm-6.control-label Tunggakan Bunga
                                                            .col-sm-6

                                                        .form-group
                                                            label.col-sm-6.control-label 1. Lancar
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label 2. Kurang Lancar
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label 3.  Diragukan
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                        .form-group
                                                            label.col-sm-6.control-label 4. Macet
                                                            .col-sm-6
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                .col-sm-6
                                                                    input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                hr


                        div.block2.paramtanggaltab1#tab2.tab-pane
                            div.row
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Identitas Produk
                                        div.panel-body
                                            div.row
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Kode Produk
                                                        .col-sm-6
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Nama Produk
                                                        .col-sm-8
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                div.clearfix
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Pembebanan Bunga/Denda
                                        div.panel-body
                                            div.row
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Kode Pengenaan Denda
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Tanpa Denda
                                                                option(value="2") Dari Sisa Saldo
                                                                option(value="3") Dari Porsi Pokok
                                                                option(value="4") Dari Porsi Bunga
                                                                option(value="5") Dari Nilai Angsuran
                                                    .form-group
                                                        label.col-sm-4.control-label Metode Pengenaan Denda
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Single
                                                                option(value="2") Faktorial
                                                    .form-group
                                                        label.col-sm-4.control-label Prosentase Denda
                                                        .col-sm-4
                                                            .input-group
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                span.input-group-addon %
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Pembebanan Bunga
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Kapitalisasi
                                                                option(value="2") Tunai
                                                    .form-group
                                                        label.col-sm-4.control-label Periode Pembebanan
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Siklus
                                                                option(value="2") Harian
                                                    .form-group
                                                        label.col-sm-4.control-label Tanggal Pembebanan
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                div.clearfix
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Metoda Pencairan / Angsuran
                                        div.panel-body
                                            div.row
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Metode Pencairan
                                                        .col-sm-6
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Full Disburse
                                                    .form-group
                                                        label.col-sm-4.control-label 
                                                        .col-sm-6
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Partial Disburse
                                                    .form-group
                                                        label.col-sm-4.control-label Tabungan Wajib
                                                        .col-sm-4
                                                            .input-group
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                span.input-group-addon %
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Metoda Angsuran
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") Denda, Bunga, Pokok
                                                                option(value="2") Bunga, Denda, Pokok
                                                                option(value="3") Bunga, Pokok, Denda
                                                                option(value="4") Pokok, Bunga, Denda
                                                                option(value="5") Manual
                                                    .form-group
                                                        label.col-sm-4.control-label Kode Sistem Pembayaran
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") In Advance
                                                                option(value="2") In Rear
                                                    .form-group
                                                        label.col-sm-4.control-label Provisi
                                                        .col-sm-4
                                                            .input-group
                                                                input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                                span.input-group-addon %
                                                    .form-group
                                                        label.col-sm-4.control-label Pengakuan Provisi
                                                        .col-sm-8
                                                            select(class="form-control", ng-model="model5")
                                                                option(value="1") ACRPROV
                                div.clearfix
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Dasar Tahun / Hari Accrue
                                        div.panel-body
                                            div.row
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Dasar Tahun Accrual
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                            span.text-helper.fs10 1->360; 2->365
                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Dasar Hari Accrual
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                            span.text-helper.fs10 1->30; 2->Umur Bulan
                                                    
                                                    

                        div.block2.paramtanggaltab1#tab3.tab-pane
                            div.row
                                div.col-md-12
                                    div.panel.panel-default
                                        div.panel-heading
                                            h5 Data Interface Buku Besar
                                        div.panel-body
                                            div.row
                                                div.col-md-6
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Saldo Pinjaman
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan Bunga
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Meterai
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan Denda
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan Provisi
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan Administrasi
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Notaris
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Titipan Penjaminan Kredit
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan Ops. Lainnya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Antar Aplikasi
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Penyelesaian Pinjaman
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   RRP Provisi Diterima Dimuka
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Biaya Kerugian / Cad PH
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan PH Pinjaman
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Pendapatan Bunga YAD
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   RRP Admin Diterima Dimuka
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        .col-sm-8
                                                            input(type="radio", name="model3", ng-model="model3", value="1")
                                                            |   Asuransi
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")

                                                div.col-md-6
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                                    .form-group
                                                        label.col-sm-4.control-label Pusat Biaya
                                                        .col-sm-4
                                                            input.form-control(type="text", ng-model="model1", ng-maxlength="2")
                                    div.pull-right
                                        button(class="btn btn-primary",type="button", ng-show="isLoading==false", ng-click="simpanButtonClicked()") Simpan
                                        button(class="btn btn-primary",type="button", ng-show="isLoading==true", disabled) Loading...


