extends layout

block content

    div.container(ng-controller="sp0009Ctrl")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Pemeliharaan Kode Transaksi
                        hr

                    div.menulevel1tablewrapper
                            table.table.table-menu1
                                thead
                                    tr
                                        th Kd Trans
                                        th Nama Transaksi
                                        th Jenis
                                        th Jurnal Dr
                                        th Jurnal Cr
                                tbody
                                    tr(ng-repeat="item in layananList", ng-click="layananClicked($index)", ng-class="{menutrselected: selectedLayananIndex == $index}")
                                        td {{item.kode}}
                                        td {{item.namalayanan}}
                                        td
                                        td
                                        td
                    hr
                    div.btn-toolbar.pull-right
                        button(class="btn btn-primary", type="button", ng-click="tambahClicked()") Tambah
                        button(class="btn btn-primary", type="button", ng-click="editClicked()") Edit
                        button(class="btn btn-primary", type="button", ng-click="hapusClicked()") Hapus

                    div(class="modal", modal="menuModal", close="cancel()", role="dialog")
                        div(class="modal-dialog", role="document")
                            div.modal-content
                                div.modal-header
                                    button(ng-click="cancel()", type="button", class="close", data-dismiss="modal", arial-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title#myModalLabel {{modalTitle}} 
                                div.modal-body
                                    form(action="", method="POST", class="addmenuform")
                                        .form-group
                                            label.col-sm-5.control-label Kode Transaksi
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", required, ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Keterangan Transaksi
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Kode Eksternal
                                            .col-sm-6
                                                select(class="form-control", ng-model="perhitunganbunga")
                                                    option(value="1") Koreksi Setoran
                                                    option(value="2") Koreksi Tarikan
                                                    option(value="3") Pemindah Bukuan
                                                    option(value="4") Setoran Tunai
                                                    option(value="5") Tarikan Tunai
                                                    option(value="6") Umum
                                        .form-group
                                            label.col-sm-5.control-label No. Perkiraan Debet
                                            .col-sm-6
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                    |   Rekening
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Teller
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   G/L
                                        .form-group
                                            label.col-sm-5.control-label 
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Nama Perkiraan Debet
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label No. Perkiraan Kredit
                                            .col-sm-6
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="1")
                                                    |   Rekening
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Teller
                                                label.mt-10
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   G/L
                                        .form-group
                                            label.col-sm-5.control-label 
                                            .col-sm-3
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Nama Perkiraan Kredit
                                            .col-sm-5
                                                input.form-control(type="text", ng-model="kodebiayalayanan", ng-maxlength="2")
                                        .form-group
                                            label.col-sm-5.control-label Kelompok Transaksi
                                            .col-sm-6
                                                select(class="form-control", ng-model="perhitunganbunga")
                                                    option(value="1") Buku Besar
                                                    option(value="2") Deposito
                                                    option(value="3") Input Transaksi
                                                    option(value="4") Pinjaman
                                                    option(value="5") Tabungan

                                        div.col-md-12
                                            div.col-md-6.boxparamtransaksi
                                                div.boxparamtransaksicontent
                                                    p 
                                                        b Penutupan Rekening
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Ya
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Tidak

                                            div.col-md-6.boxparamtransaksi
                                                div.boxparamtransaksicontent
                                                    p 
                                                        b Jenis Transaksi
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Tunai
                                                    input(type="radio", name="tandapajak", ng-model="tandapajak", value="2")
                                                    |   Non Tunai

                                        div.clearfix



                                div.modal-footer
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==false", ng-click="simpanButtonClicked()") Simpan
                                    button(class="btn btn-primary",type="button", ng-show="isLoading==true", disabled) Loading...
