extends layout

block content

    div.container(ng-controller="parameterAplikasiTanggalCtrl", ng-init="dates='#{dates}'")
        div.row

            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...

            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br

                
                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Parameter Tanggal Aplikasi
                        hr

                        ul.nav.nav-tabs
                            li.active(data-toggle="tab") 
                                a(href="#tab1", data-toggle="tab") Daftar Hari Libur
                            li(data-toggle="tab") 
                                a(href="#tab2", data-toggle="tab") Tanggal Proses
                        br

                    div.tab-content
                           
                        div.block2.paramtanggaltab1#tab1.tab-pane.active
                            form(role='form', class="form-horizontal", name="registerForm")
                                div.col-md-12
                                    - for (var i=1; i < 24; i++) {
                                        div.col-md-3
                                            label.col-md-12.control-label.pdtgl Hari ke-#{i}
                                            //.col-md-8
                                            input.form-control.dates(type="text", ng-model="tanggal#{i}", ui-mask="99/99/2099")
                                    - }
                            hr
                            div.clearfix
                            hr
                            div.btn-toolbar.pull-right
                                a(href="", class="btn btn-primary", ng-click="tab1SaveClicked()", ng-show="isLoading==false") Simpan
                                a(href="", class="btn btn-primary", ng-click="tab1SaveClicked()" disabled="disabled", ng-show="isLoading==true") Loading...

                        div.block2.paramtanggaltab2#tab2.tab-pane
                            form(role='form', class="form-horizontal", name="registerForm")
                                div.col-md-12
                                    .form-group
                                        div.col-md-12
                                            label.col-md-4.control-label Kode Aplikasi
                                            .col-md-2
                                                select(class="form-control", ng-model="application_code", ng-change="chg(application_code)")
                                                    option(value="10") 10
                                                    option(value="20") 20
                                                    option(value="30") 30
                                                    option(value="40") 40
                                                    option(value="50") 50
                                            .col-md-4
                                                p.pt10
                                                    b {{application_code_text}}
                                    .form-group
                                        div.col-md-12
                                            div.col-md-6
                                                .form-group
                                                    label.col-md-8.control-label Tanggal Proses Hari Ini
                                                    .col-md-4
                                                        input.form-control.dates.blackred(type="text", ng-model="dateA", ui-mask="99/99/2099", ng-change="dateAChanged(dateA)")
                                            div.col-md-6
                                                .form-group
                                                    label.col-md-8.control-label Tanggal Proses s.d
                                                    .col-md-4
                                                        input.form-control.dates.blackgreen(type="text", ng-model="dateB", ui-mask="99/99/2099")

                                    .form-group
                                        div.col-md-12
                                            div.col-md-6
                                                .form-group
                                                    label.col-md-8.control-label Tanggal Pelaporan
                                                    .col-md-4
                                                        input.form-control.dates.blackgreen(type="text", ng-model="dateD", ui-mask="99/99/2099")
                                            div.col-md-6
                                                .form-group
                                                    label.col-md-8.control-label Tanggal Proses Hari Berikutnya
                                                    .col-md-4
                                                        input.form-control.dates.blackgreen(type="text", ng-model="dateC", ui-mask="99/99/2099")

                                    .form-group
                                        div.col-md-12
                                            div.col-md-6
                                                .form-group
                                                    label.col-md-8.control-label Tanggal Efektif Pinjaman
                                                    .col-md-4
                                                        input.form-control.dates.blackwhite(type="text", ng-model="dateE", ui-mask="99/99/2099")
                                            div.col-md-6
                                                .form-group
                                                    label.col-md-8.control-label Tanggal Efektif Transaksi
                                                    .col-md-4
                                                        input.form-control.dates.blackwhite(type="text", ng-model="dateF", ui-mask="99/99/2099")


                                div.clearfix
                                div.bluebox
                                    h4.waito Hari Proses

                                div.col-md-12
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="minggu", ng-change="dayChanged(minggu)") 
                                                |   Proses Hari Minggu
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="rabu", ng-change="dayChanged(rabu)")
                                                |   Proses Hari Rabu
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="jumat", ng-change="dayChanged(jumat)") 
                                                |   Proses Hari Jumat

                                div.col-md-12
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="senin", ng-change="dayChanged(senin)") 
                                                |   Proses Hari Senin
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="kamis", ng-change="dayChanged(kamis)") 
                                                |   Proses Hari Kamis
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="sabtu", ng-change="dayChanged(sabtu)") 
                                                |   Proses Hari Sabtu

                                div.col-md-12
                                    div.col-md-4
                                        div.checkbox
                                            label.control-label
                                                input(type="checkbox", ng-model="selasa", ng-change="dayChanged(selasa)") 
                                                |   Proses Hari Selasa

                                div.clearfix
                                hr
                                div.col-md-12.row
                                    div.col-md-4
                                        div.col-md-6
                                            label.mt10 Kode Hari
                                        div.col-md-3
                                            input(type="text", class="form-control", ng-model="kodeharinum")
                                        div.col-md-3
                                            p.mt10 {{dayname}}
                                    div.col-md-4
                                        div.col-md-6
                                            label.mt10 Kode Bulan
                                        div.col-md-3
                                            input(type="text", class="form-control")
                                    div.col-md-4
                                        div.col-md-6
                                            label.mt10 Kode Tahun
                                        div.col-md-3
                                            input(type="text", class="form-control")
                                div.clearfix
                                hr

                                div.col-md-12
                                    .form-group
                                        div.col-md-12
                                            label.control-label.mt10.col-md-6
                                            label.control-label.mt10.col-md-4 No. Perkiraan
                                            label.control-label.mt10.col-md-2 Pusat Biaya
                                    .form-group
                                        div.col-md-12
                                            label.control-label.col-md-6 Rekening Rekonsiliasi
                                            div.col-md-4
                                                input(type="text", class="form-control", ng-model="rekA")
                                            div.col-md-2
                                                input(type="text", class="form-control", ng-model="rekA1")
                                    .form-group
                                        div.col-md-12
                                            label.control-label.col-md-6 Rekening Penolakan Proses
                                            div.col-md-4
                                                input(type="text", class="form-control", ng-model="rekB")
                                            div.col-md-2
                                                input(type="text", class="form-control", ng-model="rekB1")
                                    .form-group
                                        div.col-md-12
                                            label.control-label.col-md-6 Rekening Laba/Rugi Akhir Tahun
                                            div.col-md-4
                                                input(type="text", class="form-control", ng-model="rekC")
                                            div.col-md-2
                                                input(type="text", class="form-control", ng-model="rekC1")
                                    .form-group
                                        div.col-md-12
                                            label.control-label.col-md-6 Rekening Laba/Rugi Tahun Berjalan
                                            div.col-md-4
                                                input(type="text", class="form-control", ng-model="rekD")
                                            div.col-md-2
                                                input(type="text", class="form-control", ng-model="rekD1")
                                div.clearfix


                                div.clearfix
                                
                                hr
                                div.btn-toolbar.pull-right
                                    a(href="", class="btn btn-primary", ng-click="tab2SaveClicked()", ng-show="isLoading==false") Simpan
                                    a(href="", class="btn btn-primary", disabled="disabled", ng-show="isLoading==true") Loading...
