extends layout

block content

    div.container(ng-controller="subMenuLevel2Ctrl")
        div.row
            div.centerloading(ng-show="isLoading==true")
                img(src="/public/images/loading-spinner-grey.gif")
                span   Loading...
            div.main.register
                - if (messages)
                    div.alert.alert-danger.alert-dismissible
                        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") &times;
                        p #{messages}
                        br


                form(role='form', class="form-horizontal" action="", method="post")
                    div.block1
                        h3 Pemeliharaan Sub-Menu Level 2
                        hr
                        .form-group
                            div.col-md-12
                                .form-group
                                    label.col-sm-3.control-label Menu Utama
                                    .col-sm-9
                                        input.form-control(type="text", name="", disabled, value="Aplikasi")
                        .form-group
                            div.col-md-12
                                .form-group
                                    label.col-sm-3.control-label Sub-Menu Level
                                    .col-sm-9
                                        select(class="form-control", ng-model="selectedMenu")
                                            - each val,index in menus
                                                option(val="#{val.sdaplnum}", ng-click="menuClicked(#{val.sdaplnum})") #{val.sdapldsc}

                    div.block2
                        table.table
                            tr
                                th Deskripsi
                                th Nama Program
                                th Type Transaksi
                                th Menu Level
                            tr(ng-repeat="submenu in submenus", class="submenu-tr", ng-click="submenuClicked($index)", ng-class="{submenutrselected: selectedSubmenuIndex == $index}")
                                td {{submenu.scodsc}}
                                td {{submenu.scpgm}}
                                td 
                                    span(ng-if="submenu.scttyp==1") Inquiry
                                    span(ng-if="submenu.scttyp==2") Maintenance
                                    span(ng-if="submenu.scttyp==3") Monetary
                                    span(ng-if="submenu.scttyp==4") Operatory
                                td {{submenu.sctlvl}}
                        hr
                        div.btn-toolbar.pull-right
                            a(href="", class="btn btn-primary", ng-click="hapusSubmenu()") Hapus
                            a(href="", class="btn btn-primary", ng-click="open()") Tambah
                            a(href="", class="btn btn-primary", ng-click="openEdit()") Edit

        div(class="modal", modal="showModal", close="cancel()", role="dialog")
            div(class="modal-dialog", role="document")
                div.modal-content
                    div.modal-header
                        button(type="button", class="close", arial-label="Close", ng-click="cancel()")
                            span(aria-hidden="true") &times;
                        h4.modal-title#myModalLabel Tambah Menu Baru

                    div.modal-body
                        form(action="", method="POST", class="addsubmenuform", name="addsubmenuform")
                            .form-group
                                label Nama Program
                                input.form-control(type="text", name="scpgm", ng-model="newsubmenu.scpgm")
                            .form-group
                                label Deskripsi Menu
                                input.form-control(type="text", name="scodsc", ng-model="newsubmenu.scodsc")
                            .form-group.dnone
                                label sctran
                                input.form-control(type="text", name="sctran", ng-model="newsubmenu.sctran")
                            .form-group
                                label Jenis Transaksi
                                select(class="form-control", name="scttyp", ng-model="newsubmenu.scttyp")
                                    option(value="1") Inquiry
                                    option(value="2") Maintenance
                                    option(value="3") Monetary
                                    option(value="4") Operatory
                            .form-group
                                label Menu Level
                                input.form-control(type="text", name="sctlvl", ng-model="newsubmenu.sctlvl", ng-pattern="$root.onlyNumbers", ui-mask="9")
                            .form-group.dnone
                                label sctovr
                                input.form-control(type="text", name="sctovr", ng-model="newsubmenu.sctovr")
                            .form-group.dnone
                                label sctovl
                                input.form-control(type="text", name="sctovl", ng-model="newsubmenu.sctovl")
                            .form-group.dnone
                                label scdual
                                input.form-control(type="text", name="scdual", ng-model="newsubmenu.scdual")
                            .form-group.dnone
                                label scdlvl
                                input.form-control(type="text", name="scdlvl", ng-model="newsubmenu.scdlvl")
                            .form-group.dnone
                                label scuse 
                                input.form-control(type="text", name="scuse", ng-model="newsubmenu.scuse")
                            div.clearfix

                    div.modal-footer
                        button(class="btn btn-success", ng-click="submitNewSubmenu(addsubmenuform.$valid)") Save
                        button(class="btn", ng-click="cancel()") Cancel

        div(class="modal", modal="editModal", close="editModalClose()", role="dialog")
            div(class="modal-dialog", role="document")
                div.modal-content
                    div.modal-header
                        button(type="button", class="close", arial-label="Close", ng-click="editModalClose()")
                            span(aria-hidden="true") &times;
                        h4.modal-title#myModalLabel Edit SubMenu

                    div.modal-body
                        form(action="", method="POST", class="addsubmenuform", name="submenuEditForm")
                            .form-group
                                label Nama Program
                                input.form-control(type="text", name="scpgm", ng-model="selectedSubmenuEdited.scpgm")
                            .form-group
                                label Deskripsi Menu
                                input.form-control(type="text", name="scodsc", ng-model="selectedSubmenuEdited.scodsc")
                            .form-group.dnone
                                label sctran
                                input.form-control(type="text", name="sctran", ng-model="selectedSubmenuEdited.sctran")
                            .form-group
                                label Jenis Transaksi
                                select(class="form-control", name="scttyp", ng-model="selectedSubmenuEdited.scttyp")
                                    option(value="1", ng-selected="editSelect(selectedSubmenuEdited.scttyp,1)") Inquiry
                                    option(value="2", ng-selected="editSelect(selectedSubmenuEdited.scttyp,2)") Maintenance
                                    option(value="3", ng-selected="editSelect(selectedSubmenuEdited.scttyp,3)") Monetary
                                    option(value="4", ng-selected="editSelect(selectedSubmenuEdited.scttyp,4)") Operatory
                            .form-group
                                label Menu Level
                                input.form-control(type="text", name="sctlvl", ng-model="selectedSubmenuEdited.sctlvl", ng-pattern="$root.onlyNumbers")
                            .form-group.dnone
                                label sctovr
                                input.form-control(type="text", name="sctovr", ng-model="selectedSubmenuEdited.sctovr")
                            .form-group.dnone
                                label sctovl
                                input.form-control(type="text", name="sctovl", ng-model="selectedSubmenuEdited.sctovl")
                            .form-group.dnone
                                label scdual
                                input.form-control(type="text", name="scdual", ng-model="selectedSubmenuEdited.scdual")
                            .form-group.dnone
                                label scdlvl
                                input.form-control(type="text", name="scdlvl", ng-model="selectedSubmenuEdited.scdlvl")
                            .form-group.dnone
                                label scuse 
                                input.form-control(type="text", name="scuse", ng-model="selectedSubmenuEdited.scuse")
                            div.clearfix

                    div.modal-footer
                        button(class="btn btn-success", ng-click="submitEditSubmenu(submenuEditForm.$valid)") Save
                        button(class="btn", ng-click="editModalClose()") Cancel
