body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 2px;
}

a {
  color: #00B7FF;
}
.dnone{
    display: none;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}
.mt10 {
    margin-top:10px;
}
.mb10 {
    margin-bottom:10px;
}
.ml10 {
    margin-left:10px;
}
.mr10 {
    margin-right:10px;
}
.mr5 {
    margin-right:5px;
}

.w700 {
    width: 700px;
}
.w400 {
    width: 400px;
}
.w50 {
    width: 50px;
}
.h400 {
    height: 400px;
}
.m0 {
    margin: 0 auto;
}
.pt10 {
    padding-top: 10px;
}
.pt6 {
    padding-top: 6px;
}
.fs10 {
    font-size:10px;
}
.fs11 {
    font-size:11px;
}
.waito {
    color: white;
}
.brdt{
    border-top: 1px solid #eaeaea;
}
.brdr{
    border-right: 1px solid #eaeaea;
}
.brdl{
    border-left: 1px solid #eaeaea;
}
.brdb{
    border-bottom: 1px solid #eaeaea;
}

.main.register {
    margin: 0 auto;
    width: 900px;
    max-width:100%;
}
.otoritas-menu-selector {
    height: 400px !important;
}
.table-user-picker {
}
.table-user-picker tr td{
    cursor: pointer;
}
.table-user-picker tr:hover{
    background-color: #eaeaea !important;
}
.submenu-tr:hover {
    background-color: #eaeaea;
}
.submenu-tr {
    cursor: pointer;
}
.submenutrselected, .submenutrselected:hover {
    background-color: #2b6090;
    color: #ffffff;
}

.menulevel1tablewrapper {
    height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #eaeaea;
}
.table-menu1 tr {
    cursor: pointer;
}
.table-menu1 tr:hover {
    background-color: #eaeaea !important;
}
.menutrselected {
    background-color: #2b6090;
    color: #ffffff;
}

input.ng-invalid {
    border: 1px solid red !important;
}

.pdtgl {
    padding: 10px 0px;
    text-align: left !important;
}
.bluebox {
    background-color: #252584;
    color: white;
    padding: 1px;
    text-align: center;
}
.blackred {
    background-color: black;
    color: red;
}
.blackgreen {
    background-color: black;
    color:green;
}
.blackwhite {
    background-color: black;
    color:white;
}
.centerloading {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 125px;
    margin-left: 0;
    padding: 7px;
    text-align: center;
    color: #333;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #eee;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.help-block {
    font-size: 10px;
}
.interfaceglbox {
    margin: 0 auto;
    width: 80%;
    height: 100px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
}
.boxparamtransaksi {
    padding: 10px;
}
.boxparamtransaksicontent {
    border: 1px solid #eaeaea;
    padding: 10px;
}
